.cache
.vscode
node_modules
public/
server/
src/
.gitignore
.npmignore
.prettierrc
nodemon.json
package-lock.json
README.create-react-app.md
tsconfig.json
thumbs/
media/
keys/
scripts/
startup.bat
server-config.dev.json