body {
  font-family: Arial, Helvetica, sans-serif;
}

.video-player {
  width: 100%;
}
.thumbnail-link {
  color: #fff;
}
.library-dropdown {
  padding-top: 5px;
  padding-bottom: 5px;
}
.video-cell {
  padding-top: 5px;
  padding-bottom: 5px;
}
