body {
  font-family: Arial, Helvetica, sans-serif;
}

.video-player {
  margin-top: 15px;
  width: 100%;
  height: 40vh;
  max-height: 40vh;
}

@media screen and (max-width: 960px) and (orientation: landscape) {
  .video-player {
    height: 290px;
    max-height: 290px;
  }
}

@media screen and (max-width: 480px) and (orientation: portrait) {
  .video-player {
    height: 200px;
    max-height: 200px;
  }
}
.thumbnail-link {
  color: #fff;
}
.library-dropdown {
  padding-top: 5px;
  padding-bottom: 5px;
}
.video-cell {
  padding-top: 5px;
  padding-bottom: 5px;
}

.filelist-item {
  cursor: pointer;
}
.filelist-item.selected {
  color: cyan;
}
.link {
  cursor: pointer;
}

.side-nav {
  background-color: var(--gray-dark);
  width: 54px;
}

.side-nav .list-group-item {
  cursor: pointer;
}

.side-nav.open {
  min-width: 175px;
  width: 175px;
}

.side-nav:not(.open) .list-group-item span {
  display: none;
}

.truncate-text-2 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  max-height: 3rem;
}

.nav-link {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
}

@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important;
  }
}
@media (max-width: 767px) {
  .w-sm-100 {
    width: 100% !important;
  }
}
